body {
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: rgba(0, 38, 255, 0.5);
    line-height: 1.2;
    background-color: #ccb576;
    
}
.h_mid {
    text-align: center;
    font-weight: 915;
    letter-spacing: -2.9px;
    text-decoration: underline;
    
}

.a {
    text-align: justify;
    text-indent: 10px;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
}

ul {
    list-style-type: decimal-leading-zero;
    color:  aqua;
    cursor: alias;
    }
